/* PHASE 4: Footer */

.footer {
  margin: 0 auto 50px auto;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 900px;
  color: #aaa;
  font-size: 14px;
}

.footer-copy {
  float: left;

  padding: 20px;
}

.footer-links {
  float: right;
  padding: 20px;
}

.footer-links > li {
  float: left;
  padding-left: 20px;
}

.footer a {

}

.footer a:hover {

}
